@media screen and (max-width: 790px) {
  nav input{
    width: 200px;
  }
  nav h1{
    font-size: 26px;
  }
}
@media screen and (max-width: 635px) {
  nav input{
    width: 150px;
  }
  nav h1{
    font-size: 22px;
  }
}
@media screen and (max-width: 552px) {
  nav{
    gap: 10px;
  }
  nav .menu{
    width: 30px;
  }
  nav input{
    padding: 0;
  }
  nav form :is(input, button){
    font-size: 14px;
    padding: 5px;
  }
  nav h1{
    font-size: 20px;
  }
  main#all-apps-list ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    max-width: 100%;
    margin: 20px auto;
  }
}